/* font-family: 'Barlow Semi Condensed', sans-serif; */
/* Variables Start */
:root {
  --daniel-bg: hsl(263, 55%, 52%);
  --jonathan-bg: hsl(217, 19%, 35%);
  --patrick-bg: hsl(219, 29%, 14%);
  --white-bg: hsl(0, 0%, 100%);
  --p-color: hsl(0, 0%, 81%);
  --main-bg: hsl(210, 46%, 95%);
  --main-fontsize: 13px;
}
/* Variables End */

/* Styling Start */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
}
body {
  background-color: var(--main-bg, hsl(210, 46%, 95%));
}
.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  max-width: 1110px;
  max-height: 570px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 255px);
  grid-template-rows: repeat(2 , 270px);
  gap: 25px 30px;
  justify-content: center;
  align-content: center;
  overflow: hidden;
}
.daniel {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
  background-color: var(--daniel-bg);
  background-image: url(../images/bg-pattern-quotation.svg);
  background-repeat: no-repeat;
  background-position: 355px 0px;
}
.daniel .head img {
  border: 2px solid hsl(267deg 40% 64%);
}
.jonathan {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
  background-color: var(--jonathan-bg);
}
.jeanette {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  background-color: var(--white-bg);
}
.patrick {
  grid-column: 2 / span 2;
  grid-row: 2 / span 1;
  background-color: var(--patrick-bg);
}
.patrick .head img {
  border: 2px solid var(--daniel-bg);
}
.kira {
  grid-column: 4 / span 1;
  grid-row: 1 / span 2;
  background-color: var(--white-bg);
}
.jeanette .head,
.kira .head {
  color: var(--jonathan-bg) !important;
}
.jeanette .content,
.kira .content {
  color: var(--patrick-bg) !important;
}
.box {
  padding: 30px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.box .head {
  color: var(--main-bg);
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}
.box .head img {
  width: 30px;
  height: 30px;
  margin-right: 15px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.box .head h2 {
  font-size: var(--main-fontsize);
  letter-spacing: -0.4px;
}
.box .head p {
  font-size: var(--main-fontsize);
  opacity: 50%;
  letter-spacing: -.6px;
}
.box .content {
  color: var(--white-bg);
}
.box .content h2 {
  margin-top: 15px;
  font-size: 17px;
  letter-spacing: .3px;
  line-height: 1.4;
}
.box .content P {
  opacity: 70%;
  margin-top: 20px;
  letter-spacing: 0.2px;
  line-height: 1.6;
  font-size: 11px;
  font-weight: bold;
}
/* Styling End */

/* Media Start */
@media (max-width: 1120px) {
  .main-container{
    max-height: 1965px;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: none;
    margin: 70px auto;
    max-width: 680px;
  }
  .box {
    margin-left: 25px;
    margin-right: 25px;
  }
  .daniel {
    background-position: 280px 0;
  }
}
@media (max-width: 480px) {
  .daniel {
    background-position: 200px 0;
  }
}
/* Media End */

/* Footer Start */

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Footer End */
